replaceIssueFormWith('<%= escape_javascript(render :partial => 'form') %>');

<% if User.current.allowed_to?(:log_time, @issue.project) %>
  $('#log_time').show();
<% else %>
  $('#log_time').hide();
<% end %>

// Id del estado.
status_id = $("#issue_status_id").val();

// Petición para recibir el estado configurado para 'asignado a proveedor'.
$.ajax({
	url: "/get_status",
	type: "GET",
	success: function(response) { compareStatuses(response, status_id); },
	error: function(xhr) { console.log(xhr); }
});

function compareStatuses(data, status_id){
	// Eliminar los options del select 'assigned_to'
	removeOptionsAssignedTo();

	if(status_id == data.provider_status){
		// Recogemos los valores de los campos 'Expediente', 'Cód.Artículo' y 'Cód.Proveedor'.
		// y se muestran en el modal como valores por defecto.
		$("#prov_file").val($("#issue_custom_field_values_"+$setting_file_id).val());
		$("#prov_article").val($("#issue_custom_field_values_"+$setting_article_id).val());
		$("#prov_provider").val($("#issue_custom_field_values_"+$setting_provider_id).val());

		// Hacemos la busqueda de proveedores por defecto al abrir el modal por primera vez.	
		if(($("#issue_custom_field_values_"+$setting_file_id).val().length !== 0) || ($("#issue_custom_field_values_"+$setting_article_id).val().length !== 0) || ($("#issue_custom_field_values_"+$setting_provider_id).val().length !== 0)){
			getProvidersAjax();
		}

		// Se asignada en el campo de 'Asignado a grupo' el valor de 'Servicio Técnico'
		$("#issue_group_id option").each(function(){
			if($(this).text() == "Servicio Técnico"){
				$(this).prop("selected", true);
			}
			else{
				// $(this).prop("disabled", true);
				$(this).remove();
			}
		});

		// Abrimos el modal
		$("#dialog_providers").dialog("open");

		// Se muestra el botón por si se cierra el modal y se desea volver a abrir.
		$("#btn_open_dialog_providers").css("display","inline");
	}

	
	if(status_id == data.analysis_status){
		$("[id = 'Detalles del Artículo - CSME']").append("<img id='btn_open_dialog_articles' src='/images/edit.png' style='vertical-align: middle; margin-left: 5px; cursor: pointer; display: inline;'>");
	}
	
}

	function getProvidersAjax(){
		// Recogemos los valores de Expediente/Cod.Artículo/Cod.Expediente.
		cod_file     = $("#prov_file", $("#btn_form_provider").parents("#dialog_providers")).val();
		cod_article  = $("#prov_article", $("#btn_form_provider").parents("#dialog_providers")).val();
		cod_provider = $("#prov_provider",$("#btn_form_provider").parents("#dialog_providers")).val();

		// Petición para obtener proveedores de la tabla gg_contacts.
   		$.ajax({
			url: "/get_providers",
			type: "GET",
			data: { cod_file: cod_file, cod_article: cod_article, cod_provider: cod_provider },
			success: function(response) { getProviders(response); },
			error: function(xhr) { console.log(xhr); }
		});
	}

	// Busqueda de los proveedores cuando se realiza la busqueda.
	$(document).on("click", "#btn_form_provider", function(){
		getProvidersAjax();
	});

	function getProviders(data){
		$content_providers = "";
		// Eliminamos el mensaje de error de si no hay contactos en el caso de que se encuentre.
		$(".contact_not_found").remove();
		// Para mostrar el texto donde indica el número de proveedores encontrados.
		$(".cursive_length").remove();
		$(".div_btn_provider").append("<i class='cursive_length'>Encontrado(s) "+ data.providers.length +" proveedor(es).</i>");
		
		// Contenedor donde se mostrara los resultados de proveedores obtenidos.
		$(".container_providers").remove();
		$content_providers += "<div class='container_providers'>\n";
		if(data.providers.length > 0 ){
			$content_providers += "<table class='list'>";
			$content_providers += "<thead><tr><th></th><th>Expediente</th><th>Cod.Artículo</th><th>Nombre Proveedor</th><th>Cod.Proveedor</th></tr></thead>";
			$content_providers += "<tbody>"

			for(var i=0; i<data.providers.length; i++){
				getCodeFile(data.providers[i].gg_article.id, i);

				$content_providers += "<tr>";
				$content_providers += "<td><input type='radio' name='provider_id' value='"+data.providers[i].gg_article.id+"'/></td>\n";	
				$content_providers += "<td class='tr_code_file_"+i+"'></td>";
				$content_providers += "<td>"+data.providers[i].gg_article.code_article+"</td>";
				$content_providers += "<td>"+data.providers[i].gg_article.name_provider+"</td>";				
				$content_providers += "<td>"+data.providers[i].gg_article.code_provider+"</td>";
				$content_providers += "</tr>";
			}

			$content_providers += "</tbody>";
			$content_providers += "</table>";
		 	$content_providers += "<button type='submit' id='btn_container_providers' name='btn_providers'> Aceptar </button>";
		}
		$content_providers += "</div>\n";

		$(".hr_form_provider_last").after($content_providers);
	}

	function getCodeFile(id, i){
		// Petición para obtener el codigo del expediente.
   		$.ajax({
			url: "/get_code_file",
			type: "GET",
			data: { file_id: id },
			success: function(response) { $(".tr_code_file_"+i).append(response.code_file);	},
			error: function(xhr) { console.log(xhr); }
		});
	}

// Eliminar los options del select 'assigned_to'
function removeOptionsAssignedTo(){
	$("#issue_assigned_to_id option").prop("selected", false);
	$("#issue_assigned_to_id option").remove();
}