/* CSS Style en común para cuando la petición cambia de estado / Modal    */
/* ---------------------------------------------------------------------- */

.hr_form_dialog{	
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.form_dialog_label{
	width: 150px; 
	float: left; 
	margin-right: 15px; 
	text-align: right;
}

.div_btn_provider, .div_btn_article, .div_btn_file_service{
	margin-left: 75px !important;
}

.hr_form_provider_last, .hr_form_article_last, .hr_form_file_service_last{
	margin-bottom: 25px;
}

.cursive_length{
	margin-left: 15px !important; 
}

.contact_not_found, .article_not_found, .file_service_not_found{
    color: #FF0000;
	margin-left: 15px;
}

.container_providers > input, .container_articles > input {
	margin-top: 5px;
	margin-bottom: 5px;
}


#btn_container_providers, #btn_container_articles_csme, #btn_container_files_services_csme{
	width: 75px;
	margin-top: 5px;
	margin-left: 75px;
}

/* CSS Style para cuando la petición pasa al estado 'Asignado a proveedor' / Modal */
/* ------------------------------------------------------------------------------- */

.container_providers{
	margin-top: 10px;
}

.length_contacts{
	margin: 5px;
}

.guarantee_end_out{
	color: rgba(255,0,0,0.8);
	font-weight: bold;
}

.test:hover{
	font-weight: bold;
}

/* CSS Style para la sección de configuración del plugin.                 */
/* ---------------------------------------------------------------------- */

.config_select_status{
	width: 325px; 
	float: left; 
	padding: 0px !important;
	margin-right: 15px; 
	text-align: left;
}

.config_label_fields_csme{
	width: 140px; 
	float: left; 
	padding: 0px !important;
	margin-right: 15px; 
	text-align: left;
}